.fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  @include desktop-only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(1.10);
    margin-left: -260px;
  }
  @include laptop-only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  h2 {
    margin-left: -150px;
    @include desktop-only {
      position: absolute;
      margin-top: -90px;
     margin-left: -850px;
     
    }
    @include laptop-only {
      position: absolute;
      margin-top: -100px;
      margin-left: -750px;
    }
  }
  &__fonctionnalité {
    width: 330px;
    height: 75px;
    margin-top: 25px;
    @include radius;
    @include fonction--shadow;
    @include desktop-only {
      margin-left: 90px;
      margin-top: 70px
    }
    @include laptop-only {
      width: 300px;
      margin-left: 30px
    }
    &--clair {
      @include lighten-secondary;
    }
    h3 {
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      margin-top: 30px;
    }  
    h4 {
      font-size: 12px;
    }
    &__feature {
      position: absolute;
      margin-top: 30px;
      margin-left: 50px;
      color: grey;  
      &--colori {
        color: $color-primary;
      }
    }
    &__cercle {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      margin-top: -40px;
      margin-left: -10px;
      color: white;
      background: $color-primary;
      text-align: center;
    }       
  }   
}