@-webkit-keyframes progress-heart {
  from {
    background: none;
  }
  to {
    background: red;
  }
}
@keyframes progress-heart {
  from {
    background: none;
  }
  to {
    background: red;
  }
}
@-webkit-keyframes apparition-progressive {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    opacity: 0.65;
  }
  75% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition-progressive {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    opacity: 0.65;
  }
  75% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes validate-rotation {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes validate-rotation {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@-webkit-keyframes bars {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes bars {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes cache {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: hidden;
  }
}
@keyframes cache {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: hidden;
  }
}
@-webkit-keyframes fond {
  0% {
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  50% {
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  75% {
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  100% {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
}
@keyframes fond {
  0% {
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  50% {
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  75% {
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  100% {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
}
.shrikhand {
  font-family: "Shrikhand", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.explore {
  border-radius: 25px 25px 25px 25px;
  width: 225px;
  height: 50px;
  margin-top: 70px;
  font-size: 16px;
  border: none;
  position: relative;
  z-index: 1;
}
.explore__resto {
  width: 185px;
  margin-top: 50px;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .explore__resto__note-only {
    margin-top: 450px !important;
  }
}
@media screen and (min-width: 1440px) {
  .explore--desktop {
    position: absolute;
    margin-top: 570px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .explore--desktop {
    position: absolute;
    margin-top: 500px;
  }
}
@media screen and (min-width: 1440px) {
  .explore {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.explore:hover {
  -webkit-box-shadow: 15px 15px 25px 15px #d9d9d9;
          box-shadow: 15px 15px 25px 15px #d9d9d9;
}
.explore:hover::after {
  opacity: 1;
}
.explore--couleur {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA 10%, #9356DC);
}
.explore::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px 25px 25px 25px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1 10%, #a16be0);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

header h1 {
  text-align: center;
}
header h3 {
  position: absolute;
  margin-top: -55px;
  color: black;
  margin-left: 30px;
}
@media screen and (min-width: 1440px) {
  header h3 {
    margin-left: 110px;
    font-size: 20px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  header h3 {
    display: none;
  }
}
@media screen and (max-width: 766px) {
  header h3 {
    display: none;
  }
}
header .fa-home {
  margin-top: -53px;
  position: absolute;
  font-size: 19px;
  margin-left: 105px;
  color: black;
}
@media screen and (min-width: 1440px) {
  header .fa-home {
    margin-left: 190px;
    font-size: 20px;
    margin-top: -52px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  header .fa-home {
    display: none;
  }
}
@media screen and (max-width: 766px) {
  header .fa-home {
    display: none;
  }
}
header .fa-arrow-left {
  margin-top: -55px;
  position: absolute;
  font-size: 20px;
  margin-left: 30px;
  color: black;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  header .fa-arrow-left {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  header .fa-arrow-left {
    display: none;
  }
}

.basdepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  width: 100%;
  background-color: #323333;
  padding-bottom: 10px;
  position: absolute;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .basdepage {
    margin-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .basdepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.basdepage__lien {
  margin-left: 40px;
  padding-top: 10px;
  color: white;
}
@media screen and (min-width: 1440px) {
  .basdepage__lien {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .basdepage__lien {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .basdepage__lien {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.basdepage__lien h3 {
  color: white;
  font-size: 16px;
  margin-left: -20px;
  margin-top: 10px;
}
@media screen and (min-width: 1440px) {
  .basdepage__lien h3 {
    margin-left: 20px;
    position: absolute;
    margin-top: 0;
    margin-left: 70px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .basdepage__lien h3 {
    margin-left: 20px;
    position: absolute;
    margin-top: 0;
    margin-top: -30px;
    margin-left: 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .basdepage__lien h3 {
    margin-left: 20px;
    position: absolute;
    margin-top: 0;
    margin-left: -10px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 766px) {
  .basdepage__lien .fa-hands-helping {
    margin-top: -8px;
  }
}
@media screen and (min-width: 1440px) {
  .basdepage__lien .fa-hands-helping {
    margin-left: 315px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .basdepage__lien .fa-hands-helping {
    margin-left: 160px;
    font-size: 12px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .basdepage__lien .fa-hands-helping {
    margin-left: 150px;
  }
}
.basdepage__lien__fafood {
  margin-top: 5px;
  margin-left: -20px;
  position: absolute;
  font-size: 10px;
}
@media screen and (min-width: 1440px) {
  .basdepage__lien__fafood {
    position: absolute;
    margin-left: 75px;
    margin-top: 50px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .basdepage__lien__fafood {
    position: absolute;
    margin-left: 0;
    margin-top: 35px;
    font-size: 12px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .basdepage__lien__fafood {
    position: absolute;
    margin-left: -10px;
    margin-top: 50px;
    font-size: 12px;
  }
}
.basdepage__lien h4 {
  font-weight: 500;
  margin-top: -10px;
  color: white;
  font-size: 13px;
  margin-left: 0;
}
@media screen and (min-width: 1440px) {
  .basdepage__lien h4 {
    margin-left: 100px;
    margin-top: 50px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .basdepage__lien h4 {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 12px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .basdepage__lien h4 {
    margin-left: 40px;
    margin-top: 50px;
    font-size: 12px;
  }
}
@media screen and (max-width: 766px) {
  .basdepage__lien--pos {
    margin-top: 20px !important;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .basdepage__lien--pos {
    margin-left: 10px !important;
  }
}
.basdepage__lien h5 {
  font-weight: 400;
  color: white;
  margin-top: -10px;
  font-size: 13px;
  margin-left: -20px;
}
@media screen and (min-width: 1440px) {
  .basdepage__lien h5 {
    margin-left: 100px;
    margin-top: 50px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .basdepage__lien h5 {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 12px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .basdepage__lien h5 {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 12px;
  }
}

.resto-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
}
@media screen and (min-width: 1440px) {
  .resto-img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
  }
}
.resto-img img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .resto-img img {
    width: 100%;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 3/2;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) and (min-width: 1440px) {
  .resto-img img {
    aspect-ratio: 3/2;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

.nomresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding-bottom: 90px;
  margin-top: -50px;
  border-radius: 25px 25px 0px 0px;
  background-color: #f2f2f2;
}
@media screen and (min-width: 1440px) {
  .nomresto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 250px;
    margin-top: -605px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: relative;
    margin-top: -350px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__entree__note-only {
    margin-top: 50px !important;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__plat__note-only {
    margin-top: -20px !important;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__dessert__note-only {
    margin-top: -20px !important;
  }
}
@media screen and (min-width: 1440px) {
  .nomresto section {
    margin-top: 90px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .nomresto section section > .nomresto__carte {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto section {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-left: 0;
    margin-top: 50px;
  }
}
.nomresto__france {
  margin-left: -150px;
}
@media screen and (min-width: 1440px) {
  .nomresto__france {
    position: absolute;
    margin-top: -230px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__france {
    position: absolute;
    margin-top: -230px;
    margin-left: 0;
  }
}
.nomresto__palette {
  margin-left: -100px;
}
@media screen and (min-width: 1440px) {
  .nomresto__palette {
    position: absolute;
    margin-top: -230px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__palette {
    position: absolute;
    margin-top: -230px;
    margin-left: 0;
  }
}
.nomresto__delice {
  margin-left: -110px;
}
@media screen and (min-width: 1440px) {
  .nomresto__delice {
    position: absolute;
    margin-top: -230px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__delice {
    position: absolute;
    margin-top: -230px;
    margin-left: 0;
  }
}
.nomresto__note {
  margin-left: -100px;
}
@media screen and (min-width: 1440px) {
  .nomresto__note {
    position: absolute;
    margin-top: -230px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__note {
    position: absolute;
    margin-top: -230px;
    margin-left: 0;
    margin-top: -300px;
  }
}
.nomresto__entre {
  margin-left: 10px;
}
@media screen and (min-width: 1440px) {
  .nomresto__entre {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__entre {
    margin-left: 10px;
  }
}
.nomresto__plat {
  margin-left: 10px;
}
@media screen and (min-width: 1440px) {
  .nomresto__plat {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__plat {
    margin-left: 10px;
  }
}
.nomresto__dessert {
  margin-left: 10px;
}
@media screen and (min-width: 1440px) {
  .nomresto__dessert {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__dessert {
    margin-left: 10px;
  }
}
.nomresto__bordinferieur {
  border-bottom: 2px solid #99E2D0;
  width: 30px;
  margin-top: -8px;
  margin-left: 10px;
}
@media screen and (min-width: 1440px) {
  .nomresto__bordinferieur {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__bordinferieur {
    margin-left: 10px;
  }
}
.nomresto__heart {
  font-weight: 100;
  margin-left: 240px;
  margin-top: -50px;
  font-size: 22px;
}
@media screen and (min-width: 1440px) {
  .nomresto__heart {
    position: absolute;
    margin-top: -250px;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    margin-left: 310px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__heart {
    position: absolute;
    margin-top: -250px;
    margin-left: 280px;
  }
  .nomresto__heart__note-only {
    margin-top: -320px;
  }
}
.nomresto h3 {
  font-size: 12px;
  font-weight: 100;
  margin-top: 30px;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto h3 {
    font-size: 14px;
  }
}
.nomresto__carte {
  width: 350px;
  height: 60px;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 15px 15px #e5e5e5;
          box-shadow: 0px 15px 15px 15px #e5e5e5;
}
.nomresto__carte:hover > .nomresto__carte__ajouter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.nomresto__carte:hover > .nomresto__carte__ajouter > .nomresto__carte__ajouter__validate {
  -webkit-animation: validate-rotation 500ms ease-in-out;
          animation: validate-rotation 500ms ease-in-out;
}
.nomresto__carte:hover > .nomresto__carte__position {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.nomresto__carte__progressive {
  -webkit-animation: apparition-progressive 2000ms backwards;
          animation: apparition-progressive 2000ms backwards;
}
.nomresto__carte__progressive--1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.nomresto__carte__progressive--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.nomresto__carte__progressive--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.nomresto__carte__progressive--4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.nomresto__carte__ajouter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 61px;
  border-radius: 0px 15px 15px 0px;
  margin-left: 350px;
  margin-top: -71px;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__carte__ajouter {
    margin-top: -72px;
  }
}
.nomresto__carte__ajouter--color {
  background-color: #99E2D0;
}
.nomresto__carte__ajouter--trans {
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}
.nomresto__carte__ajouter__validate {
  color: white;
}
.nomresto__carte__ajouter__validate--rotation {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}
.nomresto__carte h4 {
  font-size: 13px;
  margin-left: 10px;
  font-weight: 500;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__carte h4 {
    font-size: 14px;
    margin-top: 10px;
  }
}
.nomresto__carte__position {
  position: absolute;
  margin-top: -10px;
  padding-left: 290px;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__carte__position {
    margin-top: -10px !important;
  }
}
.nomresto__carte__position--trans {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}
.nomresto__carte h5 {
  font-size: 11px;
  font-weight: 100;
  margin-left: 10px;
  margin-top: -10px;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .nomresto__carte h5 {
    font-size: 13px;
  }
}

.basdepage {
  position: absolute;
  margin-top: 970px;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .basdepage {
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .basdepage {
    margin-top: 0;
  }
}

.position__basdepage {
  margin-top: 1050px;
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .position__basdepage {
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .position__basdepage {
    margin-top: 0;
  }
}

.nomresto__padding {
  padding-bottom: 120px;
}
@media screen and (min-width: 1440px) {
  .nomresto__padding {
    padding-bottom: 180px;
  }
}/*# sourceMappingURL=restaurant.css.map */