
@import "../utils/variables";
@import "../utils/mixin";
@import"../utils/keyframes";
@import "../base/police";
@import "../components/button";
@import "../layouts/header";
@import "../layouts/footer";
@import "../layouts/carteresto";


.resto-img {

    margin-left: auto;
    margin-right: auto;
    img {
      aspect-ratio: 3/2;   
      object-fit: cover;
       width: 100%;
    }        
}
.basdepage {
    position: absolute;
    margin-top: 930px;
    @include desktop-only {
      margin-top: 80px;
    }
}
.position__basdepage {
    margin-top: 1000px;
    @include desktop-only {
        margin-top: 60px;
    }
}
.nomresto__padding {
    padding-bottom: 100px;
}