.shrikhand {
  font-family: "Shrikhand", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.explore {
  border-radius: 25px 25px 25px 25px;
  width: 225px;
  height: 50px;
  margin-top: 70px;
  border: none;
}
.explore--couleur {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA 10%, #9356DC);
}
.explore:hover {
  background-color: #ff93e1;
  -webkit-box-shadow: 15px 15px 25px 15px #d9d9d9;
          box-shadow: 15px 15px 25px 15px #d9d9d9;
}

header h1 {
  text-align: center;
}
header .fa-arrow-left {
  margin-top: 10px;
  position: absolute;
  font-size: 20px;
  margin-left: 30px;
  color: black;
}

.basdepage {
  margin-top: 0;
  width: 100%;
  background-color: #323333;
  padding-bottom: 30px;
}
.basdepage__lien {
  margin-left: 40px;
  padding-top: 10px;
  color: white;
}
.basdepage__lien h3 {
  color: white;
  font-size: 16px;
  margin-left: -20px;
}
.basdepage__lien__fafood {
  margin-top: 0;
  margin-left: -20px;
  position: absolute;
  font-size: 10px;
}
.basdepage__lien h4 {
  font-weight: 500;
  margin-top: -2px;
  color: white;
  font-size: 13px;
  margin-left: 0;
}
.basdepage__lien h5 {
  font-weight: 400;
  color: white;
  margin-top: 0;
  font-size: 13px;
  margin-left: -20px;
}

.nomresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding-bottom: 60px;
  margin-top: -80px;
  border-radius: 25px 25px 0px 0px;
  background-color: #f2f2f2;
}
.nomresto__france {
  margin-left: -180px;
}
.nomresto__palette {
  margin-left: -100px;
}
.nomresto__delice {
  margin-left: -130px;
}
.nomresto__note {
  margin-left: -110px;
}
.nomresto__entre {
  margin-left: -290px;
}
.nomresto__plat {
  margin-left: -305px;
}
.nomresto__dessert {
  margin-left: -285px;
}
.nomresto__bordinferieur {
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  margin-top: -5px;
  margin-left: -300px;
}
.nomresto__heart {
  font-weight: 100;
  margin-left: 240px;
  margin-top: -50px;
  font-size: 22px;
}
.nomresto h3 {
  font-size: 12px;
  font-weight: 100;
  margin-top: 30px;
}
.nomresto__carte {
  width: 350px;
  height: 60px;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 15px 15px #e5e5e5;
          box-shadow: 0px 15px 15px 15px #e5e5e5;
}
.nomresto__carte:hover > .nomresto__carte__ajouter {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.nomresto__carte:hover > .nomresto__carte__ajouter > .nomresto__carte__ajouter__validate {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}
.nomresto__carte:hover > .nomresto__carte__position {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}
.nomresto__carte__progres {
  -webkit-animation: apparition-progressive 1500ms 150ms;
          animation: apparition-progressive 1500ms 150ms;
}
.nomresto__carte__progression {
  -webkit-animation: apparition-progressive 1500ms 250ms;
          animation: apparition-progressive 1500ms 250ms;
}
.nomresto__carte__progressionfinal {
  -webkit-animation: apparition-progressive 1500ms 350ms;
          animation: apparition-progressive 1500ms 350ms;
}
.nomresto__carte__progressionfinalite {
  -webkit-animation: apparition-progressive 1500ms 450ms;
          animation: apparition-progressive 1500ms 450ms;
}
.nomresto__carte__ajouter {
  width: 50px;
  height: 61px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  margin-left: 350px;
  margin-top: -68px;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}
.nomresto__carte__ajouter__validate {
  margin-top: 20px;
  margin-left: 15px;
  color: white;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}
.nomresto__carte h4 {
  font-size: 12px;
  margin-left: 20px;
  font-weight: 500;
}
.nomresto__carte__position {
  position: absolute;
  margin-top: -10px;
  padding-left: 290px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}
.nomresto__carte h5 {
  font-size: 11px;
  font-weight: 100;
  margin-left: 20px;
  margin-top: -10px;
}

@-webkit-keyframes apparition-progressive {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    opacity: 0.65;
  }
  75% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition-progressive {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    opacity: 0.65;
  }
  75% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
.resto-img img {
  width: 100%;
  height: 350px;
}

.basdepage {
  position: absolute;
  margin-top: 930px;
}

.position__basdepage {
  margin-top: 1000px;
}

.nomresto__padding {
  padding-bottom: 100px;
}/*# sourceMappingURL=leDelice.css.map */