@keyframes progress-heart{
  from {
    background: none;
  }
  to {
    background: red;
  }
}
@keyframes apparition-progressive {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;  
    transform:translateY(20%);
  }
  50% {
    opacity: 0.65;
  }
  75% {
    opacity: 0.85;
  } 
  100%{
    opacity: 1;
  }
}
@keyframes validate-rotation {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes bars {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cache {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: hidden;
  }
}
@keyframes fond {
  0% {
    background: rgba(0,0,0,0.8);
    z-index: 99;
  }
  50% {
    background: rgba(0,0,0,0.8);
    z-index: 99;
  }
  75% {
    background: rgba(0,0,0,0.8);
    z-index: 99;
  }
  100% {
    background: rgba(0,0,0,0.6);  
    z-index: 99;
  }
}
  
