@mixin fonction--shadow ($color: $grisclair) {
  box-shadow: 5px 5px 5px 5px darken($color, 10%);
}
@mixin radius {
  border-radius: 25px 25px 25px 25px;
}
@mixin hover($color: $color-secondary) {
  background-color: lighten($color, 5%);
}
@mixin shadow ($color: $grisclair) {
  box-shadow: 0px 15px 15px 15px darken($color, 5%);
}
@mixin hover-shadow($color: $grisclair) {
  box-shadow: 15px 15px 25px 15px darken($color, 10%);
}
@mixin lighten-secondary($color: pastel($color-primary)) {
  background: lighten($color, 1%);
}
@mixin lighten-tertiary ($color: $color-tertiary) {
  background-color: lighten($color, 2%);
  border-radius: 2px 2px 2px 2px;
}
@mixin darken-tertiary ($color: $color-tertiary) {
  color: darken($color, 35%);
}
@mixin transform {
  transition: transform 400ms ease-in-out; 
}
@mixin lighten-gradient ($color: $color-secondary , $color2: $color-primary) {
  background: linear-gradient(lighten($color, 5%) 10%, lighten($color2, 5%));
}
@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)){ 
    @content; 
  }
}
@mixin laptop-only {
  @media screen and (min-width: map-get($breakpoints, laptop)) 
   and (max-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
@mixin tablette-only {
  @media screen and (min-width: map-get($breakpoints, tablette)) 
   and (max-width: map-get($breakpoints, laptop)) {
    @content;
  }
}

@mixin position-tittle {
  position: absolute;
  margin-top: -230px;
  margin-left: 0;
}