$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
$grisclair:#f2f2f2;
$lineargradient: linear-gradient($color-secondary 10%, $color-primary);
$num-progres: 4;
$anim-dur: 1500ms;
$anim-progres: 600ms;
$anim-delay: $anim-progres / $num-progres;

