.nomresto {
    display: flex;
    width: 100%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 60px;
    margin-top: -80px;
    border-radius: 25px 25px 0px 0px;
    background-color: #f2f2f2;
    @include desktop-only {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: 25px 25px 0px 0px;
      position: relative;    
      padding-bottom: 250px;
      margin-top: -450px;
    }
    @include laptop-only {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      position: relative;
      margin-top: -350px;
      padding-bottom: 200px;
    }
    section {
      @include desktop-only {
        margin-top: 90px;
        margin-left: 80px;
        transform: scale(1.10);
        section >.nomresto__carte {
          margin-top: 50px;
        }
      } 
      @include laptop-only {
        transform: scale(0.9);
        margin-left: 0;
        margin-top: 80px;
      }
    }
    &__france {
      margin-left: -170px;
      @include desktop-only {
        @include position-tittle;
      }
      @include laptop-only {
        @include position-tittle;
      }
    }
    &__palette {
      margin-left: -120px;
      @include desktop-only {
        position: absolute;
        margin-top: -220px;
        transform: scale(1.15);
      }
      @include laptop-only {
        @include position-tittle;
      }
    }
    &__delice {
      margin-left: -130px;
      @include desktop-only {
        @include position-tittle;  
      }
      @include laptop-only {
        @include position-tittle;
      }

    }
    &__note {
      margin-left: -110px;
      @include desktop-only {
        @include position-tittle;
      }
      @include laptop-only {
        @include position-tittle;
      }
    }
    &__entre {
      margin-left: -290px; 
      @include desktop-only {
        margin-left: 10px;
      }
      @include laptop-only{
        margin-left: 10px;
      }
    }
    &__plat {
      margin-left: -305px;
      @include desktop-only {
        margin-left: 10px;
      }
      @include laptop-only {
        margin-left: 10px;
      }
    }
    &__dessert {
      margin-left: -285px;
      @include desktop-only {
        margin-left: 10px;
      }
      @include laptop-only {
        margin-left: 10px;
      }
    }
   &__bordinferieur {
    border-bottom: 2px solid #99E2D0;
    width: 40px;
    margin-top: -5px;
    margin-left: -300px;
    @include desktop-only {
      margin-left: 10px;
    }
    @include laptop-only {
      margin-left: 10px;
    }
   }
   &__heart {
     font-weight: 100;
     margin-left: 240px;
     margin-top: -50px;
     font-size: 22px;
     @include desktop-only {
       position: absolute;
       margin-top: -230px;
       transform: scale(1.15);
       margin-left: 100px;
     }
     @include laptop-only {
       position: absolute;
       margin-top: -250px;
       margin-left: 260px;
     }
   }
   h3 {
    font-size: 12px;
    font-weight: 100;
    margin-top: 30px;
    @include laptop-only {
      font-size: 14px;
    }
   }
    &__carte {
      width: 350px;
      height: 60px;
      overflow: hidden;
      margin-top: 10px;
      border-radius: 15px 15px 15px 15px;
      background-color: white;
      box-shadow: 0px 15px 15px 15px #e5e5e5;
      &:hover > .nomresto__carte__ajouter{
        transform: translateX(-100%);
        & > .nomresto__carte__ajouter__validate {
          transform: rotate(0turn);
        } 
      }
      &:hover > .nomresto__carte__position {
        transform: translateX(-20%);
      }
      &__progressive {
        animation: apparition-progressive $anim-dur;
        @for $i from 1 through $num-progres {
          &--#{$i} {
            animation-delay: $anim-delay * $i;
          }
        }
      }
      &__ajouter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 61px;
        border-radius: 0px 15px 15px 0px;
        margin-left: 350px;
        margin-top: -68px;
        @include laptop-only {
          margin-top: -72px;
        }
        &--color {
          background-color: $color-tertiary;
        } 
        &--trans {
          @include transform;
        }  
        &__validate {
          color: white;
          &--rotation {
            transform: rotate(1turn);
             @include transform;
          }      
        }
      }
      h4 {
        font-size: 12px;
        margin-left: 10px;
        font-weight: 500;
        @include laptop-only {
          font-size: 14px;
          margin-top: 10px;
        }
      } 
      &__position {
        position: absolute;
        margin-top: -10px;
        padding-left: 290px;
        @include laptop-only {
          margin-top: -10px !important;
        }
        &--trans {
          transform: translateX(0);
          @include transform;
        }
      }
      h5 {
        font-size: 11px;
        font-weight: 100;
        margin-left: 10px;
        margin-top: -10px;
        @include laptop-only {
          font-size: 13px;
        }
      }
      
    }
}
